Source: mig
Section: devel
Priority: standard
Maintainer: GNU Hurd Maintainers <bug-hurd@gnu.org>
Standards-Version: 3.5.6.0
Uploaders: Marcus Brinkmann <brinkmd@debian.org>

Package: mig
Section: devel
Priority: standard
Architecture: hurd-i386
Depends: ${shlibs:Depends}
Description: GNU Mach Interface Generator
 This is the GNU distribution of the MIG, which is needed to compile
 the GNU C library, the GNU Hurd and GNU Mach.
